{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static "assets/css/index.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="site-wrapper-inner">

<h1>Let's register!</h1>

{% if registered %}
<h2>You've registered!</h2>

{% else %}

<form id="user_form" method="post" action="/users/register/" enctype="multipart/form-data">

    {% csrf_token %}
    
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    
    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
<a href="/">go home</a>
<a href="/users/">go to profile</a>
</div>

{% endblock %}
