.baseContainer {
    background-color: #02FA02;
    border-radius: 10px;
    padding: 20px;
}

.cardContainer {
    background-color: #145E0D;
    height:250px; 
    margin-top:10px; 
    margin-bottom:10px; 
    border: 1px solid black;
    border-radius: 5px;
}

.info {
	text-align: center;
}
#tableCards {

}

.row {
    color:white;
}

.cards {

}
