.baseContainer {
    background-color: #0066ff;
    width:1170px;
}

.cardContainer {
    background-color: #333333;
    height:250px; 
    margin-top:10px; 
    margin-bottom:10px; 
    border: 1px solid black;
}

#tableCards {

}

.row {
    color:white;
}

.cards {

}
