{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static "assets/css/index.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>Welcome</h1>
<p>Welcome to online poker where you can play poker without spending any money! Poker is a popular card game that involves both skill and luck. Get some practice and have fun playing with credits (No Money Required!). Sign up to start playing, and don't worry if you go broke! You will gain credits daily.</p>

{% endblock %}
