{% extends "base.html" %}

{% block content %}

<div class="navbar navbar-default navbar-fixed-top">
	<h1 class="navbar-text">How To</h1>
</div>

<h3><b> App Instruction </b></h3>

<ol>
	<li>In the home page, click on "play" button to start the game.</li>
	<li>You will be assigned two private hole cards at the beginning and three community cards will be dealt face-up.</li>
	<li>Each round one more community card is dealt and you can choose to bet or raise with the corresponding buttons.</li>
	<li>After two rounds, the player with the best five-card poker hand wins the bet.</li>
</ol>

<p><b> Game Instruction </b></p>

<p> Before you begin playing Hold'em, you'll want to learn the rules. In Hold'em, each player is dealt two private cards (known as 'hole cards') that belong to them alone. Five community cards are dealt face-up, to form the 'board'. All players in the game use these shared community cards in conjunction with their own hole cards to each make their best possible five-card poker hand. In Hold'em, a player may use any combination of the seven cards available to make the best possible five-card poker hand, using zero, one or two of their private hole cards. The ranking of poker hands is: Straight Flush, Four of a Kind, Full House, Flush, Three of a kind, Two pair, One pair, High card. <br>http://www.pokerstars.com/poker/games/texas-holdem/ </p>

{% endblock %}