{% extends 'base.html' %}

{% block title %}Log In Page{% endblock %}

{% block content %}
<div class="navbar navbar-default navbar-fixed-top">
	<h1 class="navbar-text">Poker</h1>
</div>
<div id="login" class="row input-group">
	<form action="/login/" method="get">
		<input type="email" class="form-group col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" placeholder="email">
		<input type="password" class="form-group col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" placeholder="password">
		<input type="submit" class="btn btn-primary" value="Submit">
	</form>
	<p><span class="help-text">Not Registered? <a href="signUp.html">Sign Up</span></a></p>
</div>
{% endblock %}