{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Poker Main Game{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "assets/css/game.css" %}">
{% endblock %}
{% block content %}
<div id="table">
	<div class="row">
		<div id="player2" class="box players col-sm-3 col-md-3 col-lg-3">
			<div class="cardContainer">
				<h4 style="text-align:center">Player 2</h4>
				<p>Username: <span id="op2-name"></span></p>
				<p>Gold: <span id="op2-bank"></span></p>
				<div class="row">
					<img id="op2-card1">
					<img id="op2-card2">
				</div> 
				<div class="button">
            	    <img style="height:40px;" />
            		<h2 id="op2-betting" style="color:yellow;display:none;">Betting!</h2>
        		</div>
				<p>Current Bet: <span id="op2-bet"></span></p>
			</div>
		</div>
		<div id="player3" class="box players col-sm-3 col-md-3 col-lg-3">
			<div class="cardContainer">
				<h4 style="text-align:center">Player 3</h4>
				<p>Username: <span id="op3-name"></span></p>
				<p>Gold: <span id="op3-bank"></span></p>
				<div class="row">
					<img id="op3-card1">
					<img id="op3-card2">
				</div>
				<div class="button">
        	        <img style="height:40px;" />
        	    	<h2 id="op3-betting" style="color:yellow;display:none;">Betting!</h2>
        		</div>
				<p>Current Bet: <span id="op3-bet"></span></p>
			</div>
		</div>
		<div id="player4" class="box players col-sm-3 col-md-3 col-lg-3">
			<div class="cardContainer">
				<h4 style="text-align:center">Player 4</h4>
				<p>Username: <span id="op4-name"></span></p>
				<p>Gold: <span id="op4-bank"></span></p>
				<div class="row">
					<img id="op4-card1">
					<img id="op4-card2">
				</div>
				<div class="button">
            	    <img style="height:40px;" />
            		<h2 id="op4-betting" style="color:yellow;display:none;">Betting!</h2>
        		</div>
				<p>Current Bet: <span id="op4-bet"></span></p>
			</div>
		</div>
		<div id="player5" class="box players col-sm-3 col-md-3 col-lg-3">
			<div class="cardContainer">
				<h4 style="text-align:center">Player 5</h4>
				<p>Username: <span id="op5-name"></span></p>
				<p>Gold: <span id="op5-bank"></span></p>
				<div class="row">
					<img id="op5-card1">
					<img id="op5-card2">
				</div>
				<div class="button">
            	    <img style="height:40px;" />
            		<h2 id="op5-betting" style="color:yellow;display:none;">Betting!</h2>
        		</div>
				<p>Current Bet: <span id="op5-bet"></span></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="player1" class="box players col-sm-3 col-md-3 col-lg-3">
			<div class="cardContainer">
				<h4 style="text-align:center">Player 1</h4>
				<p>Username: <span id="op1-name"></span></p>
				<p>Gold: <span id="op1-bank"></span></p>
				<div class="row">
					<img id="op1-card1">
					<img id="op1-card2">
				</div>
				<div class="button">
            	    <img style="height:40px;" />
            		<h2 id="op1-betting" style="color:yellow;display:none;">Betting!</h2>
        		</div>
				<p>Current Bet: <span id="op1-bet"></span></p>
			</div>
		</div>
		<div class="box col-sm-6 col-md-6 col-lg-6">
			<div class="cardContainer" id="tableCards" >
				<h3 style="text-align:center">Pot</h3>
				<div class="container row">
    				<img class="col-md-2 card" id="card1">
    				    
    				
    				<img class="col-md-2 card" id="card2">
        				
    				
    				<img class="col-md-2 card" id="card3">
        				
    				<img class="col-md-2 card" id="card4">
        				
    				<img class="col-md-2 card" id="card5">
        				
				</div>
			</div>
		</div>
		<div id="player6" class="box players col-sm-3 col-md-3 col-lg-3">
			<div class="cardContainer">
				<h4 style="text-align:center">Player 6</h4>
				<p>Username: <span id="op6-name"></span></p>
				<p>Gold: <span id="op6-bank"></span></p>
				<div class="row">
					<img id="op6-card1">
					<img id="op6-card2">
				</div>
				<div class="button">
            	    <img style="height:40px;" />
            		<h2 id="op6-betting" style="color:yellow;display:none;">Betting!</h2>
        		</div>
				<p>Current Bet: <span id="op6-bet"></span></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="userCards" class="box col-sm-3 col-md-3 col-lg-3">
			<div class="cardContainer">
				<h4 style="text-align:center">My Hand</h4>
				<div class="row">
					<div id="myCard1"></div>
					<div id="myCard2"></div>
				</div>
				<p>Gold: <span id=""></span></p>
				<p>Current Bet: <span id=""></span></p>
				<div class="button">
        	        <img style="height:40px;" />
        	    	<h2 id="op6-betting" style="color:yellow;display:none;">Betting!</h2>
        		</div>
        	</div>
		</div>
		<div class="box col-sm-4 col-md-4 col-lg-4" style="position:relative;">
			<div class="cardContainer">
				<div id="betting">
					<p><button class="btn btn-primary" onClick="">Check</button></p>
					<p><button class="btn btn-primary" onClick="">Call</button></p>
					<p><button class="btn btn-danger" onClick="">Fold</button></p>
				</div>
				<div id="raiseButton" class="container input-group">
  					<input type="text" class="form-control" placeholder="Raise Amount">
  					<span class="input-group-btn">
  						<button class="btn btn-default" onClick="viewControl.prototype.setMyBet">Raise</button>
  					</span>
				</div>
			</div>
		</div>
		<div id="chatBox" class="box col-sm-5 col-md-5 col-lg-5">
			<div class="panel panel-default">
        		<div class="panel-heading">
            		<h3 class="panel-title">Chat</h3>
        		</div>
        		<div class="panel-body" style="height:180px;overflow:scroll;">
        		</div>
        		<div class="panel-footer">
            		<div class="input-group">
                		<input type="text" class="form-control" id="chatText" />
                		<span class="input-group-btn">
                    		<button id="chatSend" class="btn btn-default" type="button">Send Message</button>
                		</span>
            		</div>
            	</div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{{ table.id }}
{{ table.currentUsers }}

<script src="http://127.0.0.1:80/socket.io/socket.io.js"></script>
<script>
    // use this to pass variables into js from django
    var playerName = "wes";
    var moneyToUse = 100000;
</script>
<script src="{% static "assets/js/game.js" %}"></script>
{% endblock %}